<app-navbar></app-navbar>

<mat-card class="card mainCard">
    <div class="card-header">
     <div class="card-header-title">
         <img src="../../assets/icons/Users.png"/>
         <span>Users</span>
     </div>
     <div class="card-header-body"> 
         <div class="search-box">
            <input type="text" placeholder="Search"/>
         </div>
         <div class="add-btn">
             <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#basicExampleModal">+ Add user</button>
         </div>
         
     </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
                    </th
                    >
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userDetails; let i = index">
                <td>{{user["name"]}}</td>
                <td>{{user["email"]}}</td>
                <td>{{user["type"]}}</td>
                <td>{{user["status"]}}</td>
                <td>Edit</td>
            </tr>
        </tbody>
    </table>
  </mat-card>
